@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=WDXL+Lubrifont+TC&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

.wrapper{
    display:flex;
    min-height:100vh;
}

#sidebar-roger {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0px;
    width: 250px;
    height: 100%;    
    background:#313131;
    transition: width .3s ease;
    overflow:hidden;
}

.sidebar-cabeca {
    padding: 20px 30px;
    background: #262626;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    
}

.sidebar-cabeca h3 {
    color: white;
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    text-indent: 0px;
}

#logo {
    font-size: 30px;
    font-family: 'Oswald', serif;
}

.sidebar-cabeca h3 i {
    margin-right: 10px;
}

#content{
    flex:1;
    padding:20px;
    transition:all .3s;
}

.sidebar-nav {
    position:absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 5px; /* verificar isso melhor dps*/
}

.sidebar-nav li {
    text-indent: 8px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color:rgb(0, 51, 190);
    background: rgb(255, 255, 255)
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: 0;
}
/*
.sidebar-nav > .sidebar-cabeca h3 {
    height: 65px;
    padding-right: 12px;
    color: rgb(255, 255, 255);
    line-height: 65px;
    font-size: 23px;
}
*/