.jumbotron-sem-bg {
    background-color: transparent;
}

#botaofixo {
    position: fixed;
    top: 20px;
    right: 35px;
}

/* cabeçalho logo */
.sis-o {
    position: fixed;
    top: 20px;
    font-size: 30px;
}

#pag-inicial {
    padding-top: 35px;
}

#especificacao {
    background-color: gray;
    padding: 25px;
    padding-top: 75px;
    margin-top: 25px;
}